<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <staticContent>
        <remove fileExtension=".mp4" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <remove fileExtension=".ttf" />
        <mimeMap fileExtension=".mp4" mimeType="application/mp4" />
        <mimeMap fileExtension="woff" mimeType="application/font-woff" />
        <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      </staticContent>
    </system.webServer>
  </configuration>