.cookie-box {
    position: fixed;
    z-index: 1;
    left: 15%;
    bottom: 50%;
  }
  
  .cookie-box .cookie {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 80px;
  }
  
  .cookie-box .cookie input {
    opacity: 100;
    width: 100;
    height: 100;
  }

  .hideCookie {
    display: none;
  }