.cookie-box {
    position: fixed;
    z-index: 1;
    left: 22%;
    bottom: 1%;
    background-image: url("../images/contact-bg.png");
    font-weight: 10rem;
    color:rgb(103, 124, 76);
  }
  
  .cookie-box .cookie {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 165px;
  }
  
  .cookie-box .cookie input {
    opacity: 1;
    width: 90px;
    height: 100px;
  }

  .hideCookie {
    display: none;
  }